.user-icon {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

body {
    background-color: #E3D8D2;
}

.home-container {
    margin-top: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15rem;
    margin-right: 15rem;
}

.home-text-container {
    text-align: center;
}

.home-img {
    margin: 0;
    height: 30rem;
    border-radius: 10rem;
    filter: drop-shadow(1rem 0.2rem 10px #11111152);
}

.home-title {
    font-size: 7rem;
    margin-bottom: 0;
    font-family: 'Gruppo', sans-serif;
    color: #2b231b;
}

.home-motto {
    font-size: 2rem;
    font-style: italic;
    margin-top: 1rem;
    font-family: 'Satisfy', cursive;
    color: #7f6451de;
}

.home-logo {
    position: absolute;
    height: 8rem;
    top: 20.1rem;
    left: 36rem;
    opacity: 50%;
}

.home-page-buttons-container {
    margin-top: 1rem;
}

.home-page-buttons-container button {
    margin: 1rem;
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}