.catprofile-container {
    background-color: #BA9E87;
    margin-right: 6rem;
    margin-left: 6rem;
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 1.5rem;
    filter: drop-shadow(1rem 1rem 10px rgba(82, 68, 58, 0.664))
}

.catprofile-edit-btn, .catprofile-save-btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    padding: 1rem;
    width: 6rem;
    border-radius: 1rem;
    color: #3A2F25;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gruppo', sans-serif;
    border: 2px solid rgb(46, 36, 32);
    border-radius: 1em;
    background: transparent;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    font-size: 1.2rem;
    filter: drop-shadow(0.5rem 0.5rem 5px rgba(82, 66, 56, 0.589));
    font-weight: bold;
}

.catprofile-edit-btn:disabled {
    color: #3a2f255d;
    border: 2px solid rgba(46, 36, 32, 0.247);
}

.catprofile-edit-btn:disabled:hover{
    background: transparent;
    color: #3a2f255d;
}

.catprofile-container h2 {
    font-family: 'Satisfy', cursive;
    color: #3d3129e8;
    padding-left: 2rem;
    font-size: 2.8rem;
    padding-bottom: 0.5rem;
}

.catprofile-edit-btn:hover, .catprofile-save-btn:hover {
    background-color: #3A2F25;
    color: #eedfd1
}

.catprofile-gen-info-text-container {
    background-color: #443527e0;
    border-radius: 1rem;
    font-size: 1.5rem;
    color:#E3D8D2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
    filter: drop-shadow(1rem 1rem 10px rgba(58, 46, 39, 0.836))
}

.editable-gen-info-container, .static-gen-info-container {
    padding: 1rem;
}

.editable-gen-info-container td, .static-gen-info-container td {
    padding: 0.5rem;
    padding-left: 1rem;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem; 
    letter-spacing: 1px;
    color:#E3D8D2;
}

.editable-gen-info-container tr, .static-gen-info-container tr {
    padding: 0.5rem;
}

.catprofile-gen-info-text-container input {
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    padding: 0.3rem;
    padding-left: 1rem;
    background-color: #E3D8D2;
    color:#3A2F25;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

.catprofile-gen-info-text-container td b {
    font-family: 'Gruppo', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color:#c2a89b;
}

.catprofile-gen-info-text-container table {
    display: inline-block;
}

.cat-profile-pic {
    height: 20rem;
    border-radius: 2rem;
    border:2px solid #3A2F25;
    filter:drop-shadow(1rem 1rem 10px rgba(58, 46, 39, 0.726))
}

.catprofile-gen-info-container {
    display: flex;
    justify-content: space-around;
    padding-right: 2rem;
    margin-bottom: 4rem;
}

.new-hr-btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: #191919;
    color: #3A2F25;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gruppo', sans-serif;
    border: 2px solid rgb(46, 36, 32);
    border-radius: 1em;
    background: transparent;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    font-size: 1.2rem;
    filter: drop-shadow(0.5rem 0.5rem 5px rgba(82, 66, 56, 0.493));
    font-weight: bold;
}

.new-hr-btn:hover {
    background-color: #3A2F25;
    color: #eedfd1
}

.hr-table {
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px #3A2F25 solid;
    width: 97rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding:2rem;
}

.hr-table thead {
    font-size: 1.5rem;
    text-align: center;
    color: #191919;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

.hr-table tbody{
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    line-height: 1.4rem;
}

.hr-table td, th{
    padding: 0.5rem;
}

.hr-table tr button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.record-button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    padding: 1em;
    border-radius: 1rem;
    color: #3A2F25;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gruppo', sans-serif;
    border: 2px solid rgb(46, 36, 32);
    background: transparent;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    font-size: 0.8rem;
    filter: drop-shadow(0.5rem 0.5rem 5px rgba(82, 66, 56, 0.493));
    font-weight: bold;
}

.record-button:hover {
    background-color: #3A2F25;
    color: #eedfd1
}
