.health-form-container{
    display: block;
    text-align: center;
}
.health-form{
    width: 70%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.health-form-add-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
    color:#E3D8D2;
    text-transform: uppercase;
    font-family: inherit;
    padding: 1em 2em;
    border: 2px solid black;
    border-radius: 1em;
    background: #554231;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    margin: 0.5rem;
  }
.health-form-add-btn:hover{
    background: #614e3e;
    transform: translate(0, 0.375em);
}
.center-search-button {
    display: flex;
    justify-content: center;
  }
.health-form-submit-btn-container{
  display: flex;
  justify-content: center;
}  
.health-form-submit-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 2rem;
    color:#E3D8D2;
    text-transform: uppercase;
    font-family: inherit;
    padding: 1em 2em;
    border: 2px solid black;
    border-radius: 1em;
    background: #554231;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    margin: 0.5rem;
  }

.health-form-submit-btn:hover{
    background: #614e3e;
    transform: translate(0, 0.375em);
  }
  
.autocomplete-parent-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #BA9E87;
    border-radius: 5%;
    padding: 20px;
    }

.hide-autocomplete-parent-div {
    display: none;
    }

.symptom-input {
    width: 15vw;
    height: 10vh;
    border-radius: 10%;
    background-color: #554231;
    color: #E3D8D2;
    text-align: center;
    font-size: 22px;
}
.suggestion-sidebar {
  width: 15vw; 
  padding: 20px; 
  height: 30%; 
  position: fixed; 
  right: 0vw;
  top: 10vh;
  bottom: 10vh;
  overflow-y: auto; 
  font-size: 2rem;

}

.suggestion-sidebar ul {
  list-style-type: none;
  padding: 0; 
}

.suggestion-sidebar li {
  margin: 10px 0; 
  cursor: pointer; 
}


.suggestion-sidebar li:hover {
  background-color: #614e3e;
  color: #E3D8D2;

}
.all-disease-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
  
}
.disease-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #BA9E87;
    border-radius: 5%;
    padding: 20px;
    margin: 20px;
    border: 2px solid #554231;
    
}
.disease-card-container p {
  font-weight: bold;
}
