/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    transform: scale(1.8);
    margin-right: 1rem;
    margin-top: 3rem;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #b8adad;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #554231;
    padding: 6rem 4rem;
    font-size: 2.5rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    filter:drop-shadow(1rem 1rem 10px rgba(63, 52, 42, 0.829));
    font-family: 'Comfortaa', sans-serif;
}

.bm-menu::-webkit-scrollbar {
    display: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #57443234;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8adad;
    padding: 0.5rem;
}

/* Individual item */
.bm-item {
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
    color: inherit;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.bm-menu a:hover {
    color: #1d130a;
    text-shadow: 1px 1px 3px #1f1a16af;
}