.add-a-cat-btn {
    position: absolute;
    bottom: 4rem;
    right: 5rem;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Gruppo', sans-serif;
    padding: 1rem 3rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background: transparent;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    font-size: 4rem;
    filter: drop-shadow(1rem 1rem 10px gray);

}

.add-a-cat-btn:hover {
    background: #44372c;
    transform: translate(0, 0.5rem);
    color: #e6d0c1;
}

.add-a-cat-submit-btn {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1rem;
    color: #E3D8D2;
    text-transform: uppercase;
    font-family: inherit;
    padding: 1em 2em;
    border: 2px solid black;
    border-radius: 1em;
    background: #554231;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    font-size: 1.3rem;
}

.add-a-cat-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.add-a-cat-form label {
    font-weight: bold;
    margin-top: 10px;
    font-size: x-large;
    text-align: center;
    color: #44372c;
}

.add-a-cat-form input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 30rem;
    height: 2rem;

}

.add-a-cat-submit-btn {
    background-color: #44372c;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.add-a-cat-modal {
    position: absolute;
    top: 18rem;
    right: 45rem;
    z-index: 2;
    background-color: #f1f1f1;
    width: 30rem;
    height: 27rem;
    border-radius: 2%;

}

.add-a-cat-modal-esc {
    position: absolute;
    background-color: #44372c;
    /* Green */
    border: none;
    color: white;
    padding: 2px 8px;
    margin-left: 28.2rem;
    top: -0.6rem;
    border-radius: 20%;


    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;

}

.breed-select {
    color: black;
    height: 2rem;
    text-align: center;
}